<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      IQ Quiz Gamede
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">IQ Quiz Game</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" style="text-align: center; padding: 20px;">
    <strong>Welcome to the IQ Quiz Game!</strong>
    <p>Test your knowledge and have fun!</p>

    <!-- Buttons with navigation using routerlink -->
    <ion-button class="custom-button" expand="block" color="primary" [routerLink]="['/game']">
      Start Game
    </ion-button>
    <ion-button class="custom-button" expand="block" color="secondary" [routerLink]="['/high-scores']">
      High Scores
    </ion-button>
    <ion-button class="custom-button" expand="block" color="tertiary" [routerLink]="['/settings']" >
      Settings
    </ion-button>
  </div>
</ion-content>